.textBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 auto 2.5rem;
    max-width: 800px;
}

/* Alignment */

.left {
    text-align: left;
    align-items: flex-start;
}

.center {
    text-align: center;
    align-items: center;
}

.right {
    text-align: right;
    align-items: flex-end;
}

/* Eyebrow */

.eyebrow {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    @apply text-white;
}

/* Title */

.title {
    margin: 0;

    font-size: clamp(1.75rem, 3vw, 2.75rem);
    letter-spacing: -0.035em;
    text-wrap: balance;
    line-height: 1.2;
    font-weight: 600;
    @apply text-white;
}

/* Subtitle */

.subtitle {
    margin: 0;

    font-size: clamp(1rem, 1.3vw, 1.125rem);
    max-width: 720px;
    opacity: 0.7;
    line-height: 1.75;
    font-weight: 300;
    @apply text-white;
}

/* Description */

.description {
    max-width: 700px;
    margin: 0;

    font-size: 1rem;
    line-height: 1.7;
    opacity: 0.75;
    @apply text-white;
}